---
import { i18n, t } from '@/i18n'
import Layout from '@/layouts/Default.astro'
import YouMayAlsoLike from '@/partials/YouMayAlsoLike.astro'

export const prerender = false;
---

<Layout title={t('Your Shopping Cart')}>
  <div class="my-12 flex flex-col items-center gap-12">
    <div class="flex flex-col items-center gap-6">
      <h1 class="text-center text-5xl">{t('Your cart is empty')}</h1>
      <a
        class="btn-primary"
        href={`/${i18n.language}/collections/all`}
      >
        {t('Continue shopping')}
      </a>
    </div>
    <div class="flex flex-col items-center gap-2">
      <h2 class="text-2xl">{t('Have an account?')}</h2>
      <p>
        <a
          class="underline decoration-1 hover:decoration-2"
          href={`/${i18n.language}/account/login`}
        >{t('Log in')}</a
        >
        {t('to check out faster.')}
      </p>
    </div>
  </div>
  <YouMayAlsoLike showButton />
</Layout>
