---
import Layout from "@/layouts/Default.astro";
import YouMayAlsoLike from "@/partials/YouMayAlsoLike.astro";
import i18n from "i18next";
---

<Layout title="Your Shopping Cart">
  <div class="my-12 flex flex-col items-center gap-12">
    <div class="flex flex-col items-center gap-6">
      <h1 class="text-center text-5xl">{i18n.t('Your cart is empty')}</h1>
      <a
        class="bg-primary px-8 py-3 text-primary-contrast hover:outline-1 hover:outline-primary hover:outline-solid"
        href={`/${i18n.language}/collections/all`}
      >
      {i18n.t('Continue shopping')}
      </a>
    </div>
    <div class="flex flex-col items-center gap-2">
      <h2 class="text-2xl">{i18n.t('Have an account?')}</h2>
      <p>
        <a class="underline decoration-1 hover:decoration-2" href={`/${i18n.language}/login`}>
          {i18n.t('Log in')}
        </a> {i18n.t('to check out faster.')}
      </p>
    </div>
  </div>
  <YouMayAlsoLike showButton />
</Layout>
