---
import type { GetCollectionsQuery } from 'api.generated'
import Collection from '@/components/Collection'
import getCollections from '@/graphql/collections.gql'
import Layout from '@/layouts/Default.astro'
import Hero from '@/partials/Hero.astro'
import { request } from 'graphql-request'

export const prerender = false

const {
  collections: { nodes: collections },
} = await request<GetCollectionsQuery>('https://mock.shop/api', getCollections);
---

<Layout>
  <div class="mb-12 -mx-12 -mt-8">
    <Hero />
  </div>
  <div class="flex flex-col gap-12">
    {
      collections.map(({ handle, title, products: { nodes: products } }) => (
        <Collection handle={handle} title={title} products={products} />
      ))
    }
  </div>
</Layout>
