---
import type { GetCollectionQuery } from 'api.generated'
import { CollectionMasonry } from '@/components/CollectionMasonry'
import getCollection from '@/graphql/collection.gql'
import Layout from '@/layouts/Default.astro'
import request from 'graphql-request'

export const prerender = false

const { handle } = Astro.params

const { collection } = await request<GetCollectionQuery>('https://mock.shop/api', getCollection, {
  handle,
  after: null,
})

const { title, description } = collection!
---

<Layout title={title} description={description}>
  <h1 class="mb-8 text-2xl">{title}</h1>
  <CollectionMasonry client:only="react" handle={handle!} />
</Layout>
