---
import { i18n, t } from '@/services/i18n'

export const prerender = false;
---

<section
  class="relative flex flex-col items-center justify-center gap-3 overflow-hidden pb-12 pt-24 md:pb-24 md:pt-48"
>
  <div class="absolute inset-0" style="clip-path: inset(0)">
    <div class="fixed inset-0 z-0 grid grid-cols-2">
      <img
        class="h-full w-full object-cover"
        src="/images/hero-1.jpg"
        alt={t('A woman crouches while holding multiple blue handbags')}
      />
      <img
        class="h-full w-full object-cover"
        src="/images/hero-2.jpg"
        alt={t('A woman\'s feet in the air, balancing a blue bag')}
      />
    </div>
  </div>
  <h2 class="z-10 px-6 text-center text-3xl text-white">
    {t('Industrial design meets fashion.')}
  </h2>
  <p class="z-10 text-white">{t('Atypical leather goods')}</p>
  <a
    class="z-10 mt-3 btn-primary"
    href={`/${i18n.language}/collections/all`}
  >
    {t('Shop now')}
  </a>
</section>
