---
import type { CollectionEntry } from 'astro:content'
import { Banner } from '@/components/Banner'
import { Footer } from '@/components/Footer'
import { Header } from '@/components/Header'
import BaseHead from '@/partials/BaseHead.astro'
import { i18n } from '@/services/i18n'

type Props = CollectionEntry<'page'>['data']

const { title, description } = Astro.props;
---

<html lang={i18n.language}>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="isolate bg-default text-default">
    <Banner />
    <Header client:load />
    <main class="max-w-full px-6 py-8 md:px-12">
      <slot />
    </main>
    <Footer client:idle />
  </body>
</html>
