---
import type { CollectionEntry } from 'astro:content'
import Banner from '@/components/Banner'
import Footer from '@/components/Footer'
import Header from '@/components/Header'
import i18n from '@/i18n'
import BaseHead from '@/partials/BaseHead.astro'

type Props = CollectionEntry<'page'>['data']

const { title, description } = Astro.props;
---

<html lang={i18n.language}>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-default text-default">
    <Banner />
    <Header client:load />
    <main class="max-w-full px-12 py-8">
      <slot />
    </main>
    <Footer client:idle />
  </body>
</html>
